<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header'); %>
        <title>Login</title>
</head>

<body>
    <style>

    </style>
    <div>
        <div class="form-container">
            <div id="sub-container">
                <h1 class="fs-3">Login</h1>
                <p style="color: #f45034; text-align: center;">
                    <%= message %>
                </p>
                <form onsubmit="return handleSubmit();" action="/login" method="post">
                    <div class="c-info">
                        <label for="loginId">Username</label>
                        <input type="text" name="loginId" id="loginId" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="c-info">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="password" autocomplete="off">
                    </div>
                    <div style="text-align: center;">
                        <input type="submit" id="btn" value="Login" data-bs-toggle="modal">
                    </div>
                </form>
                <div class="link" style="text-align: center; margin-top: 20px;">
                    <a style="text-decoration: none;" href="/signup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
        <script>
            const btn = document.getElementById('btn');
            const inp = document.getElementById("loginId");
            const pass = document.getElementById("password");
            const msg = document.querySelector(".modal-body");

        </script>

</html>