<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header'); %>
        <title>Only for verified user</title>
</head>

<body>
    <h1 style="background-color: #ed9b2f; padding: 20px;">you are verified</h1>

    <div class="form-container">
        <div id="sub-container" style="">

            <div class="user-img">
                <img src="https://ajayprasadverma.github.io/ajay/images/me-dev.svg" alt="user"
                    style="width: 150px; height: 150px; user-select: none;" draggable="false">

            </div>

        </div>
    </div>
    <div class="link">
        <a class="l2" href="/logout">Logout</a>
        <a class="l3" href="/logoutAll">Logout from all device</a>
    </div>
</body>

</html>