<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header'); %>
</head>

<body>
    <div class="header">
        <h1>New Users</h1>
    </div>
    <div class="form-container">
        <div id="sub-container" style="margin-top: 10px;">
            <%- include('./partials/form'); %>
        </div>
    </div>
</body>

</html>