<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header'); %>
</head>

<body>
    <div class="header">
        <h1>New Users</h1>
    </div>
    <div class="link">
        <a class="l1" href="/user">Verified Page</a>
        <a class="l2" href="/logout">Logout</a>
        <a class="l3" href="/logoutAll">Logout from all device</a>
    </div>
    <div class="form-container">
        <div id="sub-container" style="margin-top: 25px;">
            <%- include('./partials/form'); %>
        </div>
    </div>
</body>

</html>